__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

.venv/
env/
venv/
ENV/
.ipynb_checkpoints

.idea/
*.iml

.DS_Store
Thumbs.db

# Large / model / dataset / outputs
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.tflite
*.weights

runs/
results/
outputs/
datasets/
data/
*.zip
*.tar
*.tar.gz

*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

build/
dist/
*.egg-info/
.cache/
